* {
    color: red;
}

body {
    background-color: skyblue;
}

#fixed {
    width: 200px;
    height: 200px;
    background-color: red;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}

#relative {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: fixed;
    top: 0px;
    right: 0px;
}

#absolute {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 50px;
}